
<section id="banner" style="background: url(../img/actorListar.jpeg);background-size:contain !important">
    <header>
        <h2 style="color: white; font-weight: bold; font-size: 60px">
            Actores TELIA</h2>
    </header>
    <div class="container contObras">
        <div class="row ">
            {{#each actores}} 
            <div class="col-xs-12 col-md-5 obra transparent" id="divContenerdor">
                <div class='tituloNOT'>{{nombre}} {{apellido}}</div>
                <div class="fotoObra"><img style=' width:350px !important ' src="{{foto}}"></div>
                <div style="color:white !important">
                    <strong>Fecha Nacimiento</strong>
                    <br>
                    {{fecha_Nac}}
                    <br>
                    <strong>Sexo</strong>
                    <br>
                    {{#if sexo}}
                    Hombre
                    {{else}}
                    Mujer
                    {{/ if}} 
                    <br>
                    <strong>Años de Experiencia</strong>
                    <br>
                    {{años_Exp}}
                    <br>
                    <strong>Sobre {{nombre}}</strong><br>
                    {{desActor}}
                    <br>
                    {{#if directoR}}
                    <br>
                    <br>
                    <div class="desc">
                        <a   href="/editarActor/{{external_id}}" data-toggle="modal" data-target="#exampleModal_editar" data-whatever="@mdo" id="i" class="btn btn-info botonAbajo">Editar</a>
                    </div>
                    {{/ if}} 
                </div>

            </div>
            {{/ each}} 
        </div>
    </div>
</section>



